/*- Style by Jon Perez -*/
h1 {
  color: #d04764;
  font-family: 'Lobster', cursive;
  font-size: 48px;
  font-weight: normal;
  line-height: 48px;
  margin: 36px;
  text-shadow: 1px 0 0 #fff;
  text-align: center;
}

h2 {
  color: #2CA4B0;
  font-family: 'Oleo Script', cursive;
  font-size: 30px;
  font-weight: normal;
  line-height: 32px;
  /*margin: 20px;*/
  /*padding-left: 20px;*/
  text-shadow: 1px 0 0 #fff;
  text-align: center;
}

.no-wrap {
  white-space: nowrap;
}

p {
  color: #333;
  font-family: 'Original Surfer', cursive;
  font-size: 16px;
  line-height: 28px;
  margin: 0 0 24px;
}

body {
  background-color: #FAF9F5;
}

.center{
  text-align: center;
}

#states {
  fill: #aaa;
}

text {
   font-family:"LinotypeUniversW01-Cn";
}

#state-borders {
	fill: none;
	stroke: #fff;
  stroke-width: 1.5px;
  stroke-linejoin: round;
  stroke-linecap: round;
  pointer-events: none;
}

#timeSlider{
  margin-left: 20px;
  margin-right: 20px;
}

#mapLegendDiv {
  width: 330px;
  height: 45px;
  left: 0px;
  top:0px;
  bottom: 0px;
}

#stateDetail {
  top: 100px;
  padding-top: 50px;
}

#zipperTitle{  
  vertical-align: top;
  padding: 50px 0 50px 0;
  height: 100px;
  width: 400px;
  margin: auto;
}

#zipper{  
  vertical-align: top;
  padding: 10px 0 50px 0px;
  height: 200px;
  width: 400px;
  margin: 0 auto;
}

#zipper2{  
  vertical-align: top;
  padding: 10px 0 50px 0px;
  height: 200px;
  width: 400px;
  margin: 0 auto;
}


#lineChart {
  float: left;
  vertical-align: top;
}

#lineSvg{
  width: 500px;
  margin: auto;
}

input[type="range"] {
	-webkit- 
  margin-top: 0px;
  background-color: #eaedf7;
  border-radius: 15px;
  /*width: 650px;*/
  width: 100%;
  -webkit-appearance: none;
  height:10px;
  margin-left: 20px;
}

input[type="range"]::-webkit-slider-thumb {
  -webkit-appearance: none;
  cursor: default;
  top: -5px;
  height: 20px;
  width: 30px;
  background: none repeat scroll 0 0 #7986CB;
  border-radius: 5px;
  /*margin-left: 20px;*/
}

.sliderTag { 
  width: 65px;
  margin: 5px 0 20px 0;
  float: left;
  color: #7986CB; 
  margin-left: 10px;
  font-weight: bold; 
  text-anchor: middle;
}

.myLine{
  fill:none;
}

.axis path { 
  fill: none; 
  stroke: #FFA000;
}

.rightAxis path { 
  fill: none; 
  stroke: #9FA8DA;
}

.rightAxis text {
  fill: #9FA8DA;
}

.rightAxis line {
  stroke: #9FA8DA;
}
.axis line { 
  stroke: #FFA000; 
}

.axis text {
  fill: #FFA000;
}

.x.axis line {
  stroke: DARKGRAY;
  stroke-opacity: .5;
}

.x.axis path {
  display: none;
}
.x.axis text{
  fill: DARKGRAY;
}
.Alcohol{
  margin: 0 40px;
}
.Speeding{
  margin-left:30px;
}

.Alcohol,.Speeding{
  display:inline-block; 
  vertical-align: top;
  text-align:center;
}

#donut,#donut1 {
  display: inline-block;
  margin: 0 auto;
}

path.color0 {
  fill: #1072b8;
}

path.color1 {
  fill: #35526b;
}

.histText {
  font-size: 15px;
  font-color: MIDNIGHTBLUE;
}

.legendText{
  font-size: 13px;
}

.hissvg {
  padding-left: 50px;
}

#container {
  margin:2%;
  padding:20px;
}

#legendSvg {
  z-index: -1;
  position: relative;
  height: 50px;
}

#lineLegend {
  position: relative;
  height: 50px;
  display:inline-block; 
  /*background-color: red;*/
}

#histogram {
  padding-top: 60px;
}

